@page
@model Lockhub.Pages.Account.Create_accountModel
@{
}

<main>
    <div class="login-container">
        <div class="login-card">
            <h1>Create Account</h1>
            <form action="" method="post">
                <div class="login-card-name-container-input">
                    <input class="name-input-left" placeholder="First name" type="text">
                    <input class="name-input-right" placeholder="Last name" type="text">
                </div>
                <div>
                    <input placeholder="john@gmail.com" type="text">
                </div>
                <div class="login-card-password-container-input">
                    <input class="password-input-left" placeholder="Password" type="password">
                    <input class="password-input-right" placeholder="Confirm Password" type="password">
                </div>
                <div class="login-card-cta-container">
                    <p class="make-this-hover"><a href="">Forgot password?</a></p>
                    <button class="make-this-hover nav-border" type="submit">Login</button>
                    <p class="make-this-hover"><a href="">Already a user?</a></p>
                </div>
            </form>
        </div>
    </div>
</main>