@page
@model Lockhub.Pages.Account.LoginModel
@{
}

<main>
    <div class="login-container">
        <div class="login-card">
            <h1>Login</h1>
            <p>@ViewData["failed-to-login"]</p>
            <form method="post">
                <div>
                    <input asp-for="LoginUser.Email" placeholder="john@gmail.com" type="text">
                </div>
                <div>
                    <input asp-for="LoginUser.HashPassword" placeholder="*********" type="password">
                </div>
                <div class="login-card-cta-container">
                    <p class="make-this-hover"><a href="">Forgot password?</a></p>
                    <button class="make-this-hover nav-border submit-light-text" type="submit">Login</button>
                    <p class="make-this-hover"><a href="">Already a user?</a></p>
                </div>
            </form>
        </div>
    </div>
</main>